<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.coolinc.dao.ArticleDao" >
  <resultMap id="BaseResultMap" type="cn.coolinc.entity.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="post_date" property="postDate" jdbcType="INTEGER" />
  </resultMap>
  	<insert id="save" parameterType="cn.coolinc.entity.Article">
	  insert into ss_article(id,title,content,version,post_date)
	  values
	  (#{id},#{title},#{content},#{version},#{post_date})
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from ss_article where id = #{id}
	</delete>
	
	<update id="update" parameterType="cn.coolinc.entity.Article">
	  update ss_article
      set 
      title=#{title},
      content=#{content},
      version=#{version},
      post_date=#{postDate}
    where id = #{id}
	</update>
	
	<select id="findOne" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from ss_article where id = #{id}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select * from ss_article
	</select>
</mapper>